/* question */
/* .ui-fullsize .ui-btn-inner {
	font-size: 1.3em;
} */

/* answer */
/* .answer, .card, .card div {
	font-size: 1.3em;
} */

/* .ui-dialog-contain {
	width: 92.5%;
	max-width: 90%;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
} */